body {
    margin: 0;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-image: url("./rick and morty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#home-button {
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}