body {
    margin: 0;
}

.container-fluid {
    min-width: 100%;
    min-height: 100%;
    background: url("./rick and morty.jpg") no-repeat center fixed;
    background-size: cover;
}

.paginator {
   position: sticky;
   top: 5px;
   z-index: 1;
}

.main-container {
    margin-top: 20px;
}

.card {
    padding: 10px;
    border: 5px solid #8E44AD;
    border-radius: 10px;
    background-color: #ffff80;
    font-weight: 600;
}

p {
    margin-top: 5px;
    font-size: 14px;
}

button {
    color: green;
    font-weight: 500;
}

.character-box {
    margin: 0 auto;
    height: 90vh;
    width: 60vw;
    background-color: #ffff80;
    border-radius: 20px;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.char-img {
    max-height: 35%;
    max-width: 35%;
    margin-bottom: 20px;
}


